In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import cvxopt as opt
from cvxopt import blas, solvers
import pandas as pd
import math


np.random.seed(123)

# Turn off progress printing 
solvers.options['show_progress'] = False

In [3]:
portfolio = pd.read_csv('HistoricalPrices.csv',  dtype='float64', header=0)

In [4]:
portfolio.head

<bound method NDFrame.head of          AXP      BA     CAT   CSCO     CVX     DIS      GS      HD     IBM  \
0      65.53  134.44   83.84  30.52  102.32   96.39  166.23  135.46  160.04
1      65.36  134.99   83.59  30.63  101.94   95.87  166.26  135.34  160.00
2      65.68  134.14   84.01  30.98  101.68   95.97  166.08  136.22  160.26
3      65.16  133.29   83.15  31.06  102.20   95.82  165.30  135.06  159.05
4      65.00  132.98   82.84  31.29  101.89   95.55  165.90  135.43  158.63
...      ...     ...     ...    ...     ...     ...     ...     ...     ...
1253  168.52  238.18  220.24  56.39  102.64  179.29  415.00  334.02  143.07
1254  166.08  234.46  218.57  56.47  101.96  181.08  410.78  331.32  143.18
1255  165.75  229.06  217.71  56.28  100.92  179.09  408.35  335.05  143.59
1256  164.65  222.22  213.44  56.01  100.73  175.83  404.97  320.75  142.42
1257  162.13  219.00  209.81  55.15   96.70  174.74  398.80  321.55  139.47

        SP500
0     2183.87
1     2182.64
2     2186.90
3     2175.44
4     2172.47
...       ...
1253  4460.83
1254  4468.00
1255  4479.71
1256  4448.08
1257  4400.27

[1258 rows x 10 columns]>

In [5]:
returns_portfolio = portfolio.pct_change()
returns_portfolio.head()

,AXP,BA,CAT,CSCO,CVX,DIS,GS,HD,IBM,SP500
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.002594,0.004091,-0.002982,0.003604,-0.003714,-0.005395,0.000180,-0.000886,-0.000250,-0.000563
2,0.004896,-0.006297,0.005025,0.011427,-0.002551,0.001043,-0.001083,0.006502,0.001625,0.001952
3,-0.007917,-0.006337,-0.010237,0.002582,0.005114,-0.001563,-0.004697,-0.008516,-0.007550,-0.005240
4,-0.002455,-0.002326,-0.003728,0.007405,-0.003033,-0.002818,0.003630,0.002740,-0.002641,-0.001365

In [12]:
weight_portfolio = [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]
#weight_portfolio2 = np.asarray(weight_portfolio)

In [7]:
returns_portfolio2 = np.asarray(returns_portfolio)
returns_portfolio2
print("Shape of array:\n", np.shape(returns_portfolio2))

Shape of array:
 (1258, 10)

In [13]:
portfolio_return = np.dot(returns_portfolio2,weight_portfolio)
#portfolio_return2 = np.asarray(portfolio_return)
print("Shape of array:\n", np.shape(portfolio_return))

Shape of array:
 (1258,)

In [16]:
var = portfolio_return.cov()

AttributeError: 'numpy.ndarray' object has no attribute 'cov'

In [9]:
variance_matrix = portfolio_return.cov()*252
variance_matrix

AttributeError: 'numpy.ndarray' object has no attribute 'cov'